<h2>Greetings and welcome to the Asguard Support App</h2>

<p>
	<h4>Please navigate to the <%= link_to 'bundles', bundles_path %> page to see all currently uploaded bundles
	</h4>
	<h4>You may also <%= link_to "Upload a Bundle", new_bundle_path %>
	</h4>
</p>

<% @uids.each do |uid| %>
	<%= uid %>
<% end %> 
